version: "3.7"
services:
  db:
    container_name: postgres
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: ur_db
      POSTGRES_USER: ur_name
      POSTGRES_PASSWORD: ur_pw
      PGDATA: /var/lib/postgresql/data
    ports:
      - "1432:1432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: